.container{

width: 98%;

}
.vedeo{
   
width: inherit;
height: inherit;
}
.vv-back{  
margin-top: -10%;
position: fixed;
 width: inherit;
height:inherit;
}

.ved{
position: absolute;
  
    width: 80%;
    height: 80%;
    margin-left: 10%;
    border-radius: 10px;
}
.film{
    color: aliceblue;
    font-size: 60%;
position: absolute;
    background-color: rgba(3, 14, 24, 0.315);
    height: 80vh;
    width: 70%;
    border-radius: 5%;
    margin-top: 10vh;
}
.kk{
   
    height: 80vh;
    width: 70%;
    border-radius: 5%;
    margin-left: 15%;
    margin-top: 10vh;
}
.bb1{
    width: 100%;
    height:100%;
    border-radius: inherit;
}
@media(max-width:600px){

    .container{
      
       width: 98%;
       height: 95vh;
       
       }
       .vedeo{
        margin-left: -200vw;
   position: fixed;
        width:500vw;
        height: 120vh;
        margin-top: -10vh;
        }
        .vv-back{  

            position: fixed;
             width:inherit;
            height:inherit;
            }  
            .film{
                font-size: 30%;
                background-color: rgba(15, 48, 78, 0.473);
        
                    height: 45%;
                    width: 95%;
                    border-radius: 5%;
                    margin-left: 1%;
                    margin-top: 5vh;
                    
                }
                .ved{
                position: absolute;
                 
                    width: 99%;
                    height: 80%;
             margin-left: 0%;
                    border-radius: 10px;
                    margin-top: 2vh;
                
                }
                .kk{
                 
                    font-size: 80%;
                  
                    height: 40vh;
                    width: 70%;
                    border-radius: 5%;
                    margin-left: 0%;
                    margin-top: 10vh;
                }
     
}
